{%extends 'base.html'%}
{% block content %}
    <h1>Todos os Estudantes</h1>
    
    <a href="{{url_for('new')}}"> Cadastrar estudante</a>

{% for student in students %}
    <p>
        <a href="{{url_for('show', id=student.id)}}">{{student.first_name}} {{student.last_name}}</a>
    </p>
{% endfor %}
    
{% endblock %}
