{%extends 'base.html'%}
{% block content %}
    <h1>Adicionar Novo Estudante</h1>

    <form method="POST" action="{{url_for('index')}}">
    <input type="text" name="first_name"}}">
    <input type="text" name="last_name" }}">
    <input type="submit" value="Adicionar Estudante">
    </form>
{% endblock %}
