{%extends 'base.html'%}
{% block content %}
    <h1>Lista de  Estudantes Matriculados</h1>
	<p>    
    		<a href="{{url_for('new')}}"> Cadastrar estudante</a>
	</p>
{% for student in students %}
    	<p>
        	<a href="{{url_for('show', id=student.id)}}">{{student.first_name}} {{student.last_name}}</a>
    	</p>
{% endfor %}
    
{% endblock %}
