{%extends 'base.html'%}
{% block content %}
    <h1>Algumas informações sobre {{student.first_name}}</h1>
    
    <a href="{{url_for('edit', id=student.id)}}"> Editar estudante</a>
    
    <h2>Deletar estudante</h2>
    <form method="POST" action="{{url_for('show', id=student.id)}}?_method=DELETE">
 	<input type="submit" value="Delete">    
    </form>
{% endblock %}
